<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.*"
            id="hu.bme.mit.plcspec.testsuitegenerator.ui.popupMenus.contribution.IFile">
         <menu id="org.eclipse.acceleo.module.menu" label="Generate test suite" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="hu.bme.mit.plcspec.testsuitegenerator.ui.popupMenus.GenerateStateCoverageAlloyAction"
               enablesFor="+"
               id="hu.bme.mit.plcspec.testsuitegenerator.ui.popupMenus.generateStateCoverageAlloyAction"
               icon="icons/default.gif"
               label="with state coverage"
               menubarPath="org.eclipse.acceleo.module.menu/acceleo"/>
       	 <action
               class="hu.bme.mit.plcspec.testsuitegenerator.ui.popupMenus.GenerateTransitionCoverageAlloyAction"
               enablesFor="+"
               id="hu.bme.mit.plcspec.testsuitegenerator.ui.popupMenus.generateTransitionCoverageAlloyAction"
               icon="icons/default.gif"
               label="with transition coverage"
               menubarPath="org.eclipse.acceleo.module.menu/acceleo"/>
      </objectContribution>
   </extension>
</plugin>
